<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <RFSystem.Properties.Settings>
            <setting name="RFSystem_rfid2021_rfidService" serializeAs="String">
                <value>http://192.1.77.3:7766/rfidService.asmx</value>
            </setting>
        </RFSystem.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
