<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RFSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <RFSystem.Properties.Settings>
            <setting name="DefaultPrinterIP" serializeAs="String">
                <value>10.62.3.133</value>
            </setting>
        </RFSystem.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RFSystem.Properties.Settings>
            <setting name="RFSystem_AnSteel_AnSteelInterFace" serializeAs="String">
                <value>http://192.1.77.3/SapServiceCZ/Service1.asmx</value>
            </setting>
            <setting name="RFSystem_rfid2021_rfidService" serializeAs="String">
                <value>http://192.1.77.3:7766/rfidService.asmx</value>
            </setting>
        </RFSystem.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
